.PostContainer {
  width: 80%;
  margin: 0 auto;
  height: 100vh;
  padding-top: 50px;
}

.PostContainer h2 {
  font-weight: 300;
  text-align: center;
  font-size: 30px;
}

.PostContainer input {
  font-size: 17px;
  width: 100%;
  margin-top: 10px;
  padding: 12px 10px;
  box-sizing: border-box;
  font-weight: 300;
}

.PostContainer button {
  background-color: #03a9f4;
  font-size: 13px;
  padding: 10px;
  text-transform: uppercase;
  color: #fff;
  margin-top: 10px;
  box-shadow: none;
  outline: none;
  border: 0;
  transition: all 0.25s;
}

.PostContainer button:hover {
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.PostContainer button + button {
  margin-left: 5px;
}

.ShowError {
  color: #ff5722;
  font-weight: 500;
  margin-top: 5px;
  padding: 5px;
}

.PostContainer select {
  font-size: 20px;
  margin-top: 10px;
}
