.footer {
  margin-top: 20px;
  background-color: #242424;
  color: #878787;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  height: 30px;
  padding: 5px 10px;
}

.pullRight {
  flex-grow: 1;
  font-size: 12px;
}
