.videoListWrapper h3 {
  text-align: center;
  margin: 20px;
  color: #353535;
  font-weight: 300;
  font-size: 21px;
}

.videoListWrapper strong {
  font-weight: bold;
}

.videoListItemWrapper {
  display: flex;
  border-bottom: 2px solid #d5d5d5;
  background-color: #fff;
}

.videoListItemWrapper h2 {
  font-size: 13px;
  color: #525252;
}

.videoListItemImage {
  background-size: cover;
}

.videoListItemImage > div {
  width: 90px;
  height: 90px;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/images/play.png");
}

.videoListItemContent {
  flex-grow: 1;
  padding: 10px;
}

.videoRelatedWrapper {
  margin: 0 5px;
}
