.newsListItem {
  background-color: #fff;
  border: 1px solid #f2f2f2;
  margin-top: 0;
  padding: 8px 5px 0 5px;
}

.newsListItemWithImage {
  border-left: 0;
  border-right: 0;
  border-top: 0;
  padding: 0;
}

.newsListItemWrapper {
  display: flex;
  align-items: center;
}

.newsListItemImage {
  width: 90px;
  height: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex: 0 0 auto;
}

.newsListItemContent {
  padding: 5px 10px;
}

.newsListItemTitle {
  color: #525252;
  font-size: 13px;
  line-height: 21px;
  margin: 5px 0;
}

.newsListItem a {
  text-decoration: none;
}

.newsListWrapper {
  box-sizing: border-box;
  opacity: 0;
  transform: translateX(-100%);
  transition: all 0.5s ease-in;
}

.newsListWrapperEnter {
  opacity: 1;
  transform: translateX(0);
}
